<!DOCTYPE html>
 <html xmlns="http:/ /www.w3.org/1999/xhtml"
      xmlns:th="http:/ /www.thymeleaf.org">
  <head>
    <title>Dosa Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  <body>
    <form method="POST" th:action="@{/orders}" th:object="${dosaOrder}">
      <h1>Order your dosa creations!</h1>
      <img th:src="@{/images/dosa.png}"/>
      <h3>Your dosas in this order:</h3>
      <a
 th:href="@{/design}" id="another">Design another dosa</a><br/>
      <ul>
 <li th:each="dosa : ${dosaOrder.dosas}">
  <span th:text="${dosa.name}">dosa name</span></li>
      </ul>
      <h3>Deliver my dosa masterpieces to...</h3>
      <label for="deliveryName">Name: </label>
      <input type="text" th:field="*{deliveryName}"/>
      <br/>
      <label for="deliveryStreet">Street address: </label>
      <input type="text" th:field="*{deliveryStreet}"/>
      <br/>
      <label for="deliveryCity">City: </label>
      <input type="text" th:field="*{deliveryCity}"/>
      <br/>
      <label for="deliveryState">State: </label>
      <input type="text" th:field="*{deliveryState}"/>
      <br/>
      <label for="deliveryZip">Zip code: </label>
      <input type="text" th:field="*{deliveryZip}"/>
	  <span class="validationError"
	              th:if="${#fields.hasErrors('deliveryZip')}"
	              th:errors="*{deliveryZip}">Zip Error</span>
      <br/>
      <h3>Here's how I'll pay...</h3>
      <label for="ccNumber">Credit Card #: </label>
      <input type="text" th:field="*{ccNumber}"/>
	  <span class="validationError"
	      th:if="${#fields.hasErrors('ccNumber')}"
	      th:errors="*{ccNumber}">CC Num Error</span>
      <br/>
      <label for="ccExpiration">Expiration: </label>
      <input type="text" th:field="*{ccExpiration}"/>
	  <span class="validationError"
	      th:if="${#fields.hasErrors('ccExpiration')}"
	      th:errors="*{ccExpiration}">CC Num Error</span>	  
      <br/>
      <label for="ccCVV">CVV: </label>
      <input type="text" th:field="*{ccCVV}"/>
	  <span class="validationError"
	      th:if="${#fields.hasErrors('ccCVV')}"
	      th:errors="*{ccCVV}">CC Num Error</span>
      <br/>
      <input type="submit" value="Submit Order"/>
    </form>
  </body>
 </html>